.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-color: rgba(16, 23, 33, .5);
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 100;
}

.nav-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-items-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.nav-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s all;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


.nav-item.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.logo {
    width: 50px;
    height: auto;
}

.nav-button {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.social-icons {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.social-icon {
    margin: 5px;
    cursor: pointer;
}


.button-toggle {
    display: none;
}

ul {
    padding-inline-start: 0;
}

@media screen and (max-width: 1100px) {

    ul {
        padding-inline-start: 0;
    }

    .nav-items {
        display: none;
    }

    .border-bottom {
        border-bottom-right-radius: 0;
    }

    .navbar-items-container-mobile {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: #17212f;
        box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
        justify-content: center;
        align-items: center;
        z-index: 100 !important;
    }

    .navbar-items-mobile {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .button-toggle {
        display: flex;
        background-color: transparent;
        border: 0px transparent;
        z-index: 200;
    }


    .navbar-external-button {
        display: none;
    }

    .nav-item {
        margin-top: 10px;
    }

    .social-icons-mobile {
        display: flex;
        flex-direction: row;
    }

    .button-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -150px;
        z-index: 999;
    }

    .nav-logo {
        z-index: 1000;
    }
    
}