.footer {
    width: 100%;
    height: 14rem;
    background: var(--surface-c);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: -10px;
}

.footer-items {
    display: flex;
    gap: 2rem;
}

.footer-item {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    font-weight: 600;
}

.footer-phones {
    display: flex;
    gap: 12px;
}

.footer-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-copyright {
    font-family: 'Nunito', sans-serif;
}

.footer a {
    color: initial;
    text-decoration: none;
}