@import url('https://fonts.cdnfonts.com/css/futura-xblk-bt');

body {
  overflow-x: hidden;
}

.img-projeto {
  height: 170px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #425F88 #1D2A3C;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #1D2A3C;
}

/* *::-webkit-scrollbar-track:hover {
  background-color: #374456;
} */

*::-webkit-scrollbar-track:active {
  background-color: #17212F;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #425F88;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4F72A2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #314764;
}

#home {
  width: 100%;
  height: 100vh;
}

/* #home::after {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  left: 10%;
  z-index: -1;
  filter: blur(110px);
  background-color: rgb(255, 190, 178);
} */

/*LINK DO BACKGROUND: https://images.unsplash.com/photo-1597733336794-12d05021d510?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80*/
.background {
  min-height: 100vh;
  position: relative;
  background-image: url(assets/background.png);
  /* Outros estilos do elemento */
  background-size: cover;
  z-index: -10;

  /* Para aplicar o filtro de desfoque na própria imagem de fundo */
  
}


.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-title {
  font-weight: bold;
  font-size: 2.8rem;
}

.home-title::before {
  background-image: url(assets/bubbles2.svg);
  width: 120px;
  margin-left: -20px;
  margin-top: -5px;
  height: 50px;
  z-index: 21;
  position: absolute;
  content: "";
  opacity: .22;
  pointer-events: none;
  color: "#fff";
}

.home-description {
  width: 80%;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

.divisor {
  height: 7rem;
  background-color: var(--primary-color);
}

.divisor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: var(--primary-color-text)
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.title-bold {
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(16deg, rgb(97, 186, 250) 0%, rgba(69, 176, 255, 1) 36%, rgba(0, 118, 203, 1) 67%, rgb(29, 161, 255));
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-bold::before {
    background: url(assets/point.svg);
    width: 120px;
    margin-left: -20px;
    height: 50px;
    z-index: -1;
    position: absolute;
    content: "";
    opacity: .22;
    pointer-events: none;
}

.title-projetos {
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(16deg, rgb(97, 186, 250) 0%, rgba(69, 176, 255, 1) 36%, rgba(0, 118, 203, 1) 67%, rgb(29, 161, 255));
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 15px;
}

.title-projetos::before {
  background: url(assets/point.svg);
  width: 120px;
  margin-left: -20px;
  height: 50px;
  z-index: -1;
  position: absolute;
  content: "";
  opacity: .22;
  pointer-events: none;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-cards .p-card {
  border-radius: 12px;
  margin: 10px;
}

.p-card .p-card-header img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* .project-button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 

.project-button:hover {
  box-shadow: rgb(0, 225, 255) 0px 3px 8px;
  transform: scale(1.1);
} */

#about {
  width: 100%;
  height: auto;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bbox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 120px;
}

.entrada {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.entrada.ativo {
  opacity: 1;
  transform: none;
}

.p-steps .p-steps-item .p-steps-number {
  opacity: 1;
  background: rgba(100, 181, 246, 0.16);
  color: rgba(255, 255, 255, 0.87);
}

li.p-disabled {
  opacity: 1 !important;
}

.p-steps-title {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
}

.shape-left {
  width: 240px;
  height: auto;
  position: absolute;
  left: 0;
  z-index: -1212;
}

.box-content {
  display: flex;
  align-items: center;
}

/*SECTION: ETEC*/
#etec {
  background-image: url(assets/stars.svg);
}

.txt-etec {
  font-size: 1.3rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  text-align: center;
}

.title-etec {
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 2%;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(0, 147, 255);
  background-image: linear-gradient(16deg, #1a237e 0%, #64b5f6 50%, #0027d4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.galleria-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FIM SECTION: ETEC*/




/*SECTION: EVENTOS*/

.txt-events {
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

.img-events {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 250px;
  width: 100%;
  background-color: var(--surface-c);
  flex-wrap: wrap;
}


.img-events img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  flex-basis: auto;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-events img:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  filter: invert(100);
}


/*FIM SECTION EVENTOS*/
/* #vestibulinho {
  background-color: #fff;
} */

.steps-vestibulinho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  gap: 1rem;
}

.txt-vestibulinho {
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 2%;
}

.vestibulinho-image > a {
  width: 400px;
  height: 400px;
}

.vestibulinho-container /* tava .container-vestibulinho */{ 
  width: 100%;
  display: flex;
  align-items: center;
}

.p-steps {
  width: 80%;
  justify-content: center;
}

.img-vestibulinho {
  border-radius: 16px;
  width: 500px;
  transition: all 0.3s;
  padding-bottom: 1%;
  margin-right: 600px;
}

.vestibulinho-container img:hover /* tava .container-vestibulinho */{
  transform: scale(1.02);

}


.title-regras {
  position: relative;
  top: -500px;
  margin-left: 650px;
  font-family: 'Futura XBlk BT', sans-serif;
  font-size: 16px;
  margin-bottom: 2%;
  background: rgb(0, 147, 255);
  background-image: linear-gradient(16deg, #1a237e 0%, #64b5f6 50%, #0027d4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-regras::before {
  background: url(assets/point.svg);
  width: 600px;
  margin-left: -20px;
  height: 600px;
  z-index: -1;
  position: absolute;
  content: "";
  opacity: .22;
  pointer-events: none;
}

.rule-item {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 15px;
}

.steps-vestibulinho {
  text-align: center;
}

.vestibulinho-rules {
   margin-left: 30px;
   
}

.vestibulinho-rules li{
  font-size: 14px;
}

#curse {
  background-image: url(assets/bubbles.svg);
}

.curse-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .home-title {
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 2rem;
  }

  .home-description {
    margin-top: 15px;
    width: 80%;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .projects-cards {
    display: flex;
    flex-direction: column;
  }
}


.curse-box {
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  width: 95%;
  border-top: 1px solid #293b55;
  border-left: 1px solid #293b55;
  backdrop-filter: blur(8px);
  background: rgba(23, 33, 47, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.accordions-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.vestibulinho-container {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vestibulinho-image {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.vestibulinho-image img {
  width: 400px;
  height: 400px;
}