@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--surface-b);
  --surface-a: #1f2d40;
    --surface-b: #17212f;
    --surface-c: rgba(255, 255, 255, 0.03);
    --surface-d: #304562;
    --surface-e: #1f2d40;
    --surface-f: #1f2d40;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-color-secondary: rgba(255, 255, 255, 0.6);
    --primary-color: #64B5F6;
    --primary-color-text: #212529;
    --surface-0: #17212f;
    --surface-50: #2e3744;
    --surface-100: #454d59;
    --surface-200: #5d646d;
    --surface-300: #747a82;
    --surface-400: #8b9097;
    --surface-500: #a2a6ac;
    --surface-600: #b9bcc1;
    --surface-700: #d1d3d5;
    --surface-800: #e8e9ea;
    --surface-900: #ffffff;
    --gray-50: #e8e9ea;
    --gray-100: #d1d3d5;
    --gray-200: #b9bcc1;
    --gray-300: #a2a6ac;
    --gray-400: #8b9097;
    --gray-500: #747a82;
    --gray-600: #5d646d;
    --gray-700: #454d59;
    --gray-800: #2e3744;
    --gray-900: #17212f;
    --content-padding: 1rem;
    --inline-spacing: 0.5rem;
    --border-radius: 3px;
    --surface-ground: #17212f;
    --surface-section: #17212f;
    --surface-card: #1f2d40;
    --surface-overlay: #1f2d40;
    --surface-border: #304562;
    --surface-hover: rgba(255,255,255,.03);
    --focus-ring: 0 0 0 1px #93cbf9;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: rgba(100, 181, 246, 0.16);
    --highlight-text-color: rgba(255, 255, 255, 0.87);
    color-scheme: light dark;
}

* {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator,
.p-galleria.p-galleria-indicators-top .p-galleria-indicator {
  margin-right: 0.5rem !important;
}

.p-galleria-item img {
  padding: 5px;
  border-radius: 21px;
}

.p-button {
  background-image: linear-gradient(32deg, rgba(69, 176, 255, 1) 0%, rgb(18, 156, 255) 25%, rgb(15, 137, 224) 50%, rgba(69, 176, 255, 1) 100%);
  color: white;
  transition: background-image 0.3s;
}
.p-button .p-button-icon {
  margin: 0 5px 0 0;
}

.p-button:hover {
  background-image: linear-gradient(32deg, rgb(18, 156, 255) 0%, rgba(69, 176, 255, 1) 25%, rgba(69, 176, 255, 1) 50%, rgb(18, 156, 255) 100%);
}

.p-button a{
  transition: all 0.10s;
  display: flex;
  align-items: center;
}

.p-accordion {
  width: 100% !important;
}

.carousel-img-item {
  max-width: 500px;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 3px solid var(--primary-color) !important;
}

.carousel .thumb {
  border: 3px solid #454d59 !important;
}

a {
  text-decoration: none;
}

.carousel-root {
  max-width: 555px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-status {
  display: none;
}