@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--surface-b);
}

* {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.p-galleria.p-galleria-indicators-bottom .p-galleria-indicator,
.p-galleria.p-galleria-indicators-top .p-galleria-indicator {
  margin-right: 0.5rem !important;
}

.p-galleria-item img {
  padding: 5px;
  border-radius: 21px;
}

.p-button {
  background-image: linear-gradient(32deg, rgba(69, 176, 255, 1) 0%, rgb(18, 156, 255) 25%, rgb(15, 137, 224) 50%, rgba(69, 176, 255, 1) 100%);
  color: white;
  transition: background-image 0.3s;
}
.p-button .p-button-icon {
  margin: 0 5px 0 0;
}

.p-button:hover {
  background-image: linear-gradient(32deg, rgb(18, 156, 255) 0%, rgba(69, 176, 255, 1) 25%, rgba(69, 176, 255, 1) 50%, rgb(18, 156, 255) 100%);
}

.p-button a{
  transition: all 0.10s;
  display: flex;
  align-items: center;
}

.p-accordion {
  width: 100% !important;
}